.adminpanel-table {
  margin: 3%;
  width: 94%;
  border-collapse: collapse;
}

.adminpanel-table th {
  border-bottom: 1px solid #cccccc;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-align: left;
}

.adminpanel-table td {
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  min-width: 40px;
  border-bottom: 1px solid #c8c8c8;
}

.adminpanel-table tr:hover {
  background-color: #c8c8c8;
}

.adminpanel-select {
  width: auto;
  border: 0px;
  border-radius: 2px;
  padding: 8px;
  background-color: #555555;
}

.adminpanel-scouting-position {
  width: auto;
  border: 0px;
  border-radius: 2px;
  padding: 8px;
  background-color: #555555;
}

.adminpanel-load-container {
  
}

.adminpanel-trash {
  background-image: url(/images/trash.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  z-index: 10;
  width: 40px;
}
