.dataentry-form {
  margin-top: 10px;
  width: 99%;
  height: 100%;
  border: 1px solid black;
}

.dataentry-sections {
  font-size: 0;
  width: 100%;
  padding: 0px;
  background-color: #777;
}

.dataentry-tab {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: 100%;
  padding: 15px;
  text-align: center;
  border-right: 1px solid black;
}

.dataentry-subform {
  padding: 5px;
  display: none;
}
.dataentry-module {
  display: inline-block;
  vertical-align: top;
  margin: 5px 5px;
  padding: 15px 5px;
  height: auto;
  background-color: rgba(100, 100, 100, .15);
  text-align: center;
  border: 1px solid blue;
  border-color: rgba(0, 0, 0, .1);
  border-radius: 3px;
}

@media only screen and (max-width : 739px) {
   .dataentry-module {
      width: 41%;
   }
}

@media only screen and (max-width : 1000px) and (min-width : 740px) {
   .dataentry-module {
      width: 29%;
   }
}

@media only screen and (max-width : 1920px) and (min-width : 1001px) {
   .dataentry-module {
      width: 21%;
   }
}

input {
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
}

.dataentry-module-number {
  width: 110px;
  padding: 5px;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

.dataentry-module-number:focus {
  box-shadow: 0 0px 10px #44ff44;
  -webkit-transition: .5s; /* Safari */
  transition: .5s;
  background-color: rgba(0, 180, 0, .1);
}

.dataentry-module-boolean {
  margin: auto;
  margin-top: 5px;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  background-color: white;
  border-radius: 6px;
}

.dataentry-module-boolean:checked {
  background-color: rgba(0, 255, 0, .5);
  box-shadow: 0 0px 10px #44ff44;
  -webkit-transition: .2s; /* Safari */
  transition: .2s;
}

.dataentry-module-boolean:hover {
  background-color: rgba(0, 0, 0, .1);
  box-shadow: 0 0px 10px #aaa;
  -webkit-transition: .2s; /* Safari */
  transition: .2s;
}
