.menu-bar {
  background-color: black;
  height: 70px;
  width: 100%;
  position: fixed;
}

.menu-bar-content {
  padding-left: 15%;
  padding-right: 15%;
  width: 70%;
}

.menu-bar-logo {
  position: relative;
  background-image: url("/images/login-logo.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover; 
  background-size: cover;
  height: 70px;
  width: 70px;
  margin: 0px;
}

.menu-bar-icon {
  background-image: url("/images/dropdown.png");
  height: 70px;
  width: 70px;
  position: relative;
  top: -70px;
  float: right;
  background-repeat: no-repeat;
  -webkit-background-size: cover; 
  background-size: cover;
}
