.teamlist {
	text-align: left;
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
	height: 35px;
}

.teamlist col {
	border-collapse: collapse;
}

.teamlist td{
	text-align: center;
	border-collapse: collapse;
	width:0%;
}

.teamlist th{
	text-align: center;
	border-collapse: collapse;
	
}

.teamlist tr{
	border-collapse: collapse;
}

.teamlist-color1 {
	background: rgba(15, 215, 10, 1);
}

.teamlist-color2 {
	background: rgba(125, 255, 60, 1);
}
